* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  overflow: hidden; /* useful for GSAP entrance animations later */
  background-color: #d9d9d9;
}

.left,
.right {
  width: 50%;
  height: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-right: 60px;
  z-index: 2;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #dedede;
  display: flex;
}

h1 {
  font-family: "Pixelify Sans";
  font-size: 4em;
  font-weight: 500;
}

span {
  font-family: "Pixelify Sans";
  background: url(img/text-img.png) right top / cover no-repeat;

  background-clip: text; /* standard */
  -webkit-background-clip: text; /* required for Chrome/Safari */

  -webkit-text-fill-color: transparent;

  /* optional but helps rendering */
  display: inline-block;
}

.content {
  width: 40vw;
  font-size: 1.2em;
  line-height: 1.4;
}

a {
  color: #d9d9d9;
  text-decoration: none;
}

.wiki-link {
  background: linear-gradient(90deg, #83bf5e, #02211a);
  padding: 6px;
  border-radius: 40px;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.wiki-link a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
.wiki-link img {
  margin-left: 40px;
}

footer {
  position: relative;
  width: 80vw; /* full screen width */
  margin-left: -20px;
}

.cards {
  position: relative;
  background: linear-gradient(90deg, #519150 0%, #02211a 50%, #2a5935 100%);
  width: 70%;
  height: 30px; /* background strip height */
  display: flex;
  align-items: center;
  gap: 60px;
  overflow: visible; /* IMPORTANT: allows pill to stick out */
    margin-top: 60px;
}

.cards::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(img/Fundo.png);
  background-position: left, center;
  background-size: cover;
  opacity: 0.8; /* control strength here */
  z-index: 1;
}
.card {
  position: relative;
  z-index: 2;
  height: 40px; /* bigger than .cards */
  padding: 0 4px 0 10px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 10px;
  background: rgba(0, 0, 0, 0.4); /* dark + transparent */
  color: #eaeaea;
  backdrop-filter: blur(6px); /* optional glass effect */
}


/* Right side */

.kinich {
  width: 60vw;
  z-index: 2;
}
